body {
	.movie-card {
		cursor: pointer;
		.movie-img {
			width: 100%;
			position: relative;
			.movie-details {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($color: #000000, $alpha: 0.5);
				color: white;
			}
		}
	}
	.page-item.disabled {
		a {
			color: rgba($color: #000000, $alpha: 0.5) !important;
		}
	}
	.page-item,
	.page-link,
	.page-link.activ {
		box-shadow: none !important;
	}
	.active > .page-link,
	.page-link.active {
		border-color: #ffc107 !important;
	}
	:focus-visible,
	:focus-within,
	:focus {
		border-color: #ffc107 !important;
	}
}
